@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

:root {
	font-family: font-custom;
}

html::-webkit-scrollbar {
	width: 1vw;
	background-color: #000;
}
html::-webkit-scrollbar-track {
	background-color: #000;
}
html::-webkit-scrollbar-thumb {
	color: "primary";
}
